* {
  box-sizing: border-box;
}

.App {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  height: 40px;
  border-radius: 7px;
}

.container {
  background-color: #21262c;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  color: white;
}

.container button {
  padding: 0.4rem 2rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to top right, #28c4fc, #5d6ae8);
  font-size: 1.5rem;
  color: white;
}

.dice-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dice {
  color: aliceblue;
}

@media only screen and (min-width: 600px) {
  .logo {
    height: 60px;
    border-radius: 15px;
  }

  .container {
    font-size: 3rem;
  }

  .container button {
    padding: 0.8rem 3rem;
    border-radius: 1rem;
  }

  .dice-container {
    width: 19vw;
  }
}

@media only screen and (min-width: 900px) {
  .logo {
    height: 80px;
    border-radius: 15px;
  }

  .container {
    height: 45vh;
    font-size: 4rem;
  }

  .container button {
    padding: 1rem 6rem;
    border-radius: 1rem;
    font-size: 3rem;
  }

  .dice-container {
    width: 23vw;
  }
}

@media only screen and (min-width: 1800px) {
  .logo {
    height: 120px;
    border-radius: 15px;
  }

  .container {
    height: 35vh;
    font-size: 6rem;
  }

  .container button {
    padding: 1.5rem 10rem;
    font-size: 4rem;
    font-weight: bold;
  }

  .dice-container {
    width: 14vw;
  }
}
